#ProgressBarElement {
  border-top: 4px var(--bs-danger) solid;
  position: fixed;
  left: 0;
  top: 0;
  --TransitionWidthDuration: .4s;
  --TransitionLeftDuration: .8s;
  transition: width var(--TransitionWidthDuration), left var(--TransitionLeftDuration);
  z-index: 5;
}

#AppContainer {
  max-width: 650px;
}

code.hljs {
  background-color: #0d0f10 !important;
  border: 1px solid #ffffff20;
  border-radius: 8px;
}