#ProgressBarElement {
  border-top: 4px var(--bs-danger) solid;
  position: fixed;
  left: 0;
  top: 0;
  --TransitionWidthDuration: .4s;
  --TransitionLeftDuration: .8s;
  transition: width var(--TransitionWidthDuration), left var(--TransitionLeftDuration);
  z-index: 5;
}

#AppContainer {
  max-width: 650px;
}